<ng-container *ngIf="participantForm$ | async as participantForm">
  <div class="header">
    <h1 class="header__title">Discover Perspective</h1>
    <div class="header__subtitle">
      Complete the 7 min test and get detailed report of your lenses on the
      world.
    </div>
  </div>

  <form
    [formGroup]="participantForm"
    (submit)="submit(participantForm)"
    class="form"
  >
    <div class="question-list">
      <ng-container *ngIf="questions$ | async as questions">
        <div
          *ngFor="let question of questions; let i = index"
          class="question-list__bordered-box"
        >
          <app-perspective-question-item
            [questionContent]="question"
            [answerForm]="
              participantForm.controls.participantAnswers.controls[i]
            "
          ></app-perspective-question-item>
        </div>
      </ng-container>

      <div class="question-list__bordered-box question-list__email-box">
        <div class="question-list__email-box__email-label">Your email</div>
        <input matInput formControlName="email" placeholder="you@example.com" />
        <app-custom-form-error
          [control]="participantForm?.controls?.email"
        ></app-custom-form-error>
      </div>
      <div class="question-list__button-area">
        <button
          [disabled]="!participantForm.valid"
          mat-flat-button
          color="primary"
          class="large"
        >
          Save & Continue
        </button>
      </div>
    </div>
  </form>
</ng-container>
