@import "../../../scss/mixin.scss";
$item-padding: 5px 10px;

:host {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  gap: 0 40px;
  @media (orientation: landscape) {
    flex-direction: column;
  }
}

.description {
  @include bordered-box-content;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
}

.options {
  width: 100px;
  @include bordered-box-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;

  &__disagree {
    padding: $item-padding;
    color: #fa4344;
    font-weight: bold;
  }

  &__radio-group {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__agree {
    padding: $item-padding;
    color: #00a079;
    font-weight: bold;
  }

  &__radio-item {
    padding: $item-padding;
  }

  @media (orientation: landscape) {
    flex-direction: row;
    &__radio-group {
      flex-direction: row;
    }
  }
}

.error {
  mat-error {
    padding: 0 5px;
  }
}
